


              ._customers {
                width: 100px;
                height: 100px;
                border-radius: 100%;
              }
              
              .quote_mark {
                color: rgb(52, 52, 134);
                font-size: 40px;
              }
              ._text {
                font-size: 18px;
                display: inline-block;
                font-style: italic;
                position: relative;
                padding-left: 18px;
                padding-right: 18px;
              }
              .img-rounded {
                border-radius: 100%;
              }
              .autor_name {
                color: rgb(75, 180, 247);
                font-size: 20px;
        margin: 20px;
        margin-left: 40px;
              }
              
              .testimonial-author .img-thumbnail {
                display: inline-block;
                vertical-align: middle;
                max-width: 100%;
                height: auto;
                line-height: 1.42857143;
                border: none;
                border-radius: 50%;
                transition: all 0.2s ease-in-out;
                background: transparent;
              }
              
              @media screen and (max-width: 1430px) {
                .testimonial-author-thumbnail {
                  margin-right: 0px;
                }
              }
              
              .testimonial-author-thumbnail {
                float: left;
                width: 100px;
              }
              
              .testimonial_right {
                float: left;
                width: 68%;
              }
              
              .blockquote {
                display: inline;
                padding-right: 10px;
                margin-top: -3px;
                vertical-align: top;
                font-family: "FontAwesome";
                font-size: 24px;
                width: auto;
                font-style: italic;
              }
              .blockquote span {
                color: rgb(17, 156, 245);
                font-weight: bolder;
              }
              